[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "oxcAAR"]
	path = oxcAAR
	url = https://github.com/isaakiel/oxcaar
[submodule "recexcavAAR"]
	path = recexcavAAR
	url = https://github.com/isaakiel/recexcavaar
